:root {
  --primary-color: #faf3f3;
  --secondary-color: #e1e5ea;
}

.App {
  background: var(--primary-color);
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  text-align: center;
}
.footer {
  text-align: center;
  margin: 30px;
}
h1 {
  padding: 40px 0 10px;
}
@media (max-width: 576px) {
  h1 {
    padding: 20px 0 5px;
  }
}
