.App {
  background: #faf3f3;
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  text-align: center;
}
.footer {
  text-align: center;
  margin: 30px;
}
h1 {
  padding: 40px 0 10px;
  opacity: 0.7;
}
